.cproject
.idea/
.project
.settings/
.vscode/
cmake-build-debug/
cmake-build-debug-wsl/
cmake-build-release/
cmake-build-release-wsl/
Networks/
Runnables/DelayExperiments
Runnables/Network
Runnables/readcache
Runnables/ULTRA
Runnables/ULTRAPHAST
build/
logs/
docs/
readcache
Results/
tmp/